<!DOCTYPE html>
<html>
<head>
  <title>MegaBook Online Store</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
    <div id="banner">
      <%= image_tag "logo.png" %>
      <%= @page_title || "Bookshelf" %>

      <span id="weekday">
            <%= @datetime %>
        </span>
    </div>

    <div id="columns">
      <div id="side">

        <% if @cart %>
        <div id="cart">
          <%=  render @cart %>
        </div>
        <% end %>

        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/faq">Questions</a> </li>
          <li><a href="/news">News</a></li>
          <li><a href="/contact">Contact</a> </li>
        </ul>

      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>

</body>
</html>
